<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This ugly as hell website, sadly built with bootstrap, had the single function of helping me learning Ruby on Rails.</p>
    <hr class="my-4">
    <p>Please understand.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
